


h1 {
    color: rgb(220, 14, 14);
    font-size: 300%;
    text-align: center;

}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}